.blur-circle {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 800px;
    background-color: #c4b5fd;
    border-radius: 50%;
    filter: blur(500px);
    position: absolute;
    z-index: -50;
}
@media (max-width: 640px) {

    .blur-circle {
        max-width: 600px;
        max-height: 400px;
        filter: blur(200px);
    }
}
